<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditModalLabel">Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Edit" asp-controller="CustomExcel" method="post">
                <div class="modal-body">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()


                    <div>
                        <label>Name</label>
                        <input id="editId" name="Id" class="form-control" hidden="hidden">
                        <input id="editName" name="Name" class="form-control" required>
                    </div>
                    <div class="mt-5">
                        <label>Description</label>
                        <textarea id="editDescription" name="Description" class="form-control" style="min-height:250px"></textarea>
                    </div>
                    <div class="custom-file row mt-5">
                        <label class="custom-file-label">Image</label>
                        <img id="editImage" src="" alt="Uploaded Image" style="width:100px; height:100px;">
                        <input type="file" name="Image" class="custom-file-input"/>
                        <input name="ImageName" id="editImageName" hidden="hidden"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>