<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TimeMiner</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true"/>
    <link rel="icon" type="image/x-icon" href="~/happy.ico">
</head>
<body>
<header>

</header>
<div class="sidebar">
    <div class="logo-details">
        <i class='bx bx-timer icon'></i>
        <div class="logo_name">TimeMiner</div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a target="_blank" href="https://www.buymeacoffee.com/tim3767550h">
                <i class='bx bx-heart'></i>
                <span class="links_name">Donate Tim</span>
            </a>
            <span class="tooltip">Donate</span>
        </li>
        <li class="profile">
            <div class="profile-details">
                <div class="name_job">
                    <div class="name">Tim Chen</div>
                    <div class="job">Web developer</div>
                </div>
            </div>
            <div>
                <a target="_blank" href="https://chenyuting0916.github.io/My-First-Website/">
                    <i class='bx bx-share' id="share"></i>
                </a>
            </div>
        </li>
    </ul>
</div>
<section class="home-section">
    <div class="container">
        @RenderBody()
    </div>
</section>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
  let sidebar = $(".sidebar");
  let closeBtn = $("#btn");

  closeBtn.click(()=>{
    sidebar.toggleClass("open");
    menuBtnChange();
  });

  function menuBtnChange() {
   if(sidebar.hasClass("open")){
     closeBtn.removeClass("bx-menu");
     closeBtn.addClass("bx-menu-alt-right");
   }else {
       closeBtn.removeClass("bx-menu-alt-right");
       closeBtn.addClass("bx-menu");
   }
  }
  </script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>