@{
    ViewData["Title"] = "Manage your time";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/timer.js" asp-append-version="true"></script>


<button type="submit" class="btn btn-secondary" id="start">Start</button>
<p id="demo"></p>