@{
    ViewData["Title"] = "Manage your time";
}

<script src="~/js/timer.js" asp-append-version="true"></script>

<p id="demo"></p>

<div>
    minutes:
    <form>
        <input id="minutes" name="minutes" type="number"/>
        <input type="submit"/>
    </form>
</div>